<!-- client/views/home.html -->

<!-- Peripheral -->
<div class='pre_view'>
    <br>
        <div class='message_A'>"Steady Solutions for Health Care Needs."</div>
    <br>
</div>

<div class="jumbotron text-center">
    <span class='jumbo_div'>
        <div class='left_jumbo_div'>
            Speedy Sessions is a fast and efficient way to optimize medical appointments.
        </div>
        <div class='right_jumbo_div'>
             <ul>
             </ul>
        </div>
        <br style="clear:both;"/>
    </span>
</div>